[Unit]
Description=Barkomatic Sound Detector
After=network.target

[Service]
Type=simple
User=justin
WorkingDirectory=/home/justin/bark0matic
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
